.color-1 {
    color: hsl(356, 84%, 7%);
}
.color-2 {
    color: hsl(10, 71%, 36%);
}
.color-3 {
    color: hsl(29, 81%, 49%);
}
.color-4 {
    color: hsl(4, 63%, 25%);
}
.color-5 {
    color: hsl(12, 78%, 47%);
}
