.color-1 {
    color: hsl(251, 21%, 20%);
}
.color-2 {
    color: hsl(23, 98%, 53%);
}
.color-3 {
    color: hsl(46, 93%, 59%);
}
.color-4 {
    color: hsl(40, 100%, 83%);
}
.color-5 {
    color: hsl(6, 98%, 52%);
}
