.color-1 {
    color: hsl(3, 100%, 56%);
}
.color-2 {
    color: hsl(357, 90%, 58%);
}
.color-3 {
    color: hsl(348, 61%, 58%);
}
.color-4 {
    color: hsl(356, 63%, 70%);
}
.color-5 {
    color: hsl(63, 58%, 87%);
}
