.color-1 {
    color: hsl(345, 70%, 53%);
}
.color-2 {
    color: hsl(354, 56%, 22%);
}
.color-3 {
    color: hsl(39, 29%, 9%);
}
.color-4 {
    color: hsl(192, 49%, 41%);
}
.color-5 {
    color: hsl(30, 63%, 49%);
}
