.color-1 {
    color: hsl(290, 48%, 41%);
}
.color-2 {
    color: hsl(260, 80%, 61%);
}
.color-3 {
    color: hsl(260, 100%, 64%);
}
.color-4 {
    color: hsl(271, 13%, 55%);
}
.color-5 {
    color: hsl(321, 50%, 44%);
}
.color-6 {
    color: hsl(269, 47%, 51%);
}
