.color-1 {
    color: hsl(5, 98%, 51%);
}
.color-2 {
    color: hsl(4, 77%, 54%);
}
.color-3 {
    color: hsl(15, 93%, 34%);
}
.color-4 {
    color: hsl(359, 83%, 55%);
}
.color-5 {
    color: hsl(7, 100%, 37%);
}
.color-6 {
    color: hsl(3, 100%, 38%);
}
