.color-1 {
    color: hsl(70, 94%, 33%);
}
.color-2 {
    color: hsl(73, 100%, 29%);
}
.color-3 {
    color: hsl(99, 20%, 44%);
}
.color-4 {
    color: hsl(79, 36%, 61%);
}
.color-5 {
    color: hsl(72, 59%, 56%);
}
.color-6 {
    color: hsl(72, 62%, 47%);
}
