.color-1 {
    color: hsl(48, 70%, 85%);
}
.color-2 {
    color: hsl(43, 88%, 68%);
}
.color-3 {
    color: hsl(48, 95%, 77%);
}
.color-4 {
    color: hsl(48, 100%, 81%);
}
.color-5 {
    color: hsl(47, 100%, 83%);
}
.color-6 {
    color: hsl(48, 75%, 72%);
}
