.color-1 {
    color: hsl(19, 53%, 52%);
}
.color-2 {
    color: hsl(19, 58%, 50%);
}
.color-3 {
    color: hsl(19, 76%, 59%);
}
.color-4 {
    color: hsl(22, 58%, 52%);
}
.color-5 {
    color: hsl(35, 84%, 61%);
}
.color-6 {
    color: hsl(24, 52%, 51%);
}
