.color-1 {
    color: hsl(218, 44%, 68%);
}
.color-2 {
    color: hsl(206, 37%, 65%);
}
.color-3 {
    color: hsl(245, 91%, 64%);
}
.color-4 {
    color: hsl(203, 52%, 44%);
}
.color-5 {
    color: hsl(180, 60%, 83%);
}
.color-6 {
    color: hsl(192, 83%, 77%);
}
