.color-1 {
    color: hsl(0, 100%, 44%);
}
.color-2 {
    color: hsl(0, 70%, 53%);
}
.color-3 {
    color: hsl(28, 57%, 62%);
}
.color-4 {
    color: hsl(55, 52%, 64%);
}
.color-5 {
    color: hsl(81, 95%, 75%);
}
