.color-1 {
    color: hsl(18, 68%, 36%);
}
.color-2 {
    color: hsl(44, 97%, 65%);
}
.color-3 {
    color: hsl(44, 69%, 84%);
}
.color-4 {
    color: hsl(130, 29%, 72%);
}
.color-5 {
    color: hsl(190, 58%, 24%);
}
