.color-1 {
    color: hsl(0, -2147483648%, 100%);
}
.color-2 {
    color: hsl(49, 46%, 80%);
}
.color-3 {
    color: hsl(48, 20%, 70%);
}
.color-4 {
    color: hsl(199, 7%, 46%);
}
.color-5 {
    color: hsl(199, 61%, 28%);
}
