.color-1 {
    color: hsl(10, 97%, 35%);
}
.color-2 {
    color: hsl(66, 53%, 79%);
}
.color-3 {
    color: hsl(106, 25%, 77%);
}
.color-4 {
    color: hsl(0, 11%, 46%);
}
.color-5 {
    color: hsl(358, 88%, 20%);
}
