.color-1 {
    color: hsl(72, 68%, 31%);
}
.color-2 {
    color: hsl(80, 60%, 99%);
}
.color-3 {
    color: hsl(90, 2%, 82%);
}
.color-4 {
    color: hsl(72, 33%, 97%);
}
.color-5 {
    color: hsl(67, 44%, 78%);
}
