.color-1 {
    color: hsl(34, 78%, 73%);
}
.color-2 {
    color: hsl(2, 85%, 31%);
}
.color-3 {
    color: hsl(2, 85%, 35%);
}
.color-4 {
    color: hsl(2, 84%, 41%);
}
.color-5 {
    color: hsl(2, 86%, 45%);
}
