.color-1 {
    color: hsl(51, 100%, 12%);
}
.color-2 {
    color: hsl(37, 34%, 27%);
}
.color-3 {
    color: hsl(81, 98%, 33%);
}
.color-4 {
    color: hsl(51, 61%, 62%);
}
.color-5 {
    color: hsl(0, 96%, 71%);
}
