.color-1 {
    color: hsl(250, 5%, 25%);
}
.color-2 {
    color: hsl(24, 22%, 49%);
}
.color-3 {
    color: hsl(28, 57%, 62%);
}
.color-4 {
    color: hsl(240, 100%, 7%);
}
.color-5 {
    color: hsl(26, 85%, 74%);
}
