.color-1 {
    color: hsl(46, 59%, 68%);
}
.color-2 {
    color: hsl(192, 59%, 68%);
}
.color-3 {
    color: hsl(5, 96%, 54%);
}
.color-4 {
    color: hsl(5, 66%, 7%);
}
.color-5 {
    color: hsl(6, 41%, 90%);
}
