.color-1 {
    color: hsl(47, 41%, 62%);
}
.color-2 {
    color: hsl(52, 53%, 79%);
}
.color-3 {
    color: hsl(60, 82%, 96%);
}
.color-4 {
    color: hsl(0, -2147483648%, 0%);
}
.color-5 {
    color: hsl(46, 58%, 35%);
}
