.color-1 {
    color: hsl(336, 100%, 46%);
}
.color-2 {
    color: hsl(69, 67%, 72%);
}
.color-3 {
    color: hsl(174, 57%, 51%);
}
.color-4 {
    color: hsl(120, 35%, 83%);
}
.color-5 {
    color: hsl(35, 100%, 91%);
}
