.color-1 {
    color: hsl(14, 94%, 82%);
}
.color-2 {
    color: hsl(40, 98%, 82%);
}
.color-3 {
    color: hsl(70, 39%, 74%);
}
.color-4 {
    color: hsl(43, 9%, 50%);
}
.color-5 {
    color: hsl(58, 78%, 83%);
}
