.color-1 {
    color: hsl(0, -2147483648%, 100%);
}
.color-2 {
    color: hsl(244, 15%, 77%);
}
.color-3 {
    color: hsl(232, 56%, 45%);
}
.color-4 {
    color: hsl(267, 56%, 7%);
}
.color-5 {
    color: hsl(347, 86%, 53%);
}
