.color-1 {
    color: hsl(28, 37%, 53%);
}
.color-2 {
    color: hsl(22, 41%, 49%);
}
.color-3 {
    color: hsl(18, 44%, 35%);
}
.color-4 {
    color: hsl(15, 44%, 22%);
}
.color-5 {
    color: hsl(12, 55%, 10%);
}
