.color-1 {
    color: hsl(10, 85%, 51%);
}
.color-2 {
    color: hsl(47, 23%, 54%);
}
.color-3 {
    color: hsl(46, 63%, 15%);
}
.color-4 {
    color: hsl(46, 47%, 19%);
}
.color-5 {
    color: hsl(46, 46%, 9%);
}
