.color-1 {
    color: hsl(37, 100%, 82%);
}
.color-2 {
    color: hsl(45, 100%, 57%);
}
.color-3 {
    color: hsl(44, 96%, 53%);
}
.color-4 {
    color: hsl(41, 100%, 47%);
}
.color-5 {
    color: hsl(35, 91%, 8%);
}
