.color-1 {
    color: hsl(31, 51%, 14%);
}
.color-2 {
    color: hsl(42, 58%, 82%);
}
.color-3 {
    color: hsl(99, 21%, 54%);
}
.color-4 {
    color: hsl(22, 89%, 41%);
}
.color-5 {
    color: hsl(56, 52%, 57%);
}
