.color-1 {
    color: hsl(7, 100%, 41%);
}
.color-2 {
    color: hsl(24, 100%, 50%);
}
.color-3 {
    color: hsl(50, 100%, 84%);
}
.color-4 {
    color: hsl(141, 27%, 60%);
}
.color-5 {
    color: hsl(0, -2147483648%, 0%);
}
