.color-1 {
    color: hsl(182, 100%, 36%);
}
.color-2 {
    color: hsl(176, 100%, 26%);
}
.color-3 {
    color: hsl(176, 62%, 76%);
}
.color-4 {
    color: hsl(345, 20%, 4%);
}
.color-5 {
    color: hsl(10, 53%, 56%);
}
