.color-1 {
    color: hsl(243, 90%, 4%);
}
.color-2 {
    color: hsl(19, 10%, 39%);
}
.color-3 {
    color: hsl(40, 32%, 75%);
}
.color-4 {
    color: hsl(19, 31%, 42%);
}
.color-5 {
    color: hsl(22, 61%, 11%);
}
