.color-1 {
    color: hsl(58, 90%, 42%);
}
.color-2 {
    color: hsl(342, 99%, 72%);
}
.color-3 {
    color: hsl(23, 99%, 54%);
}
.color-4 {
    color: hsl(296, 44%, 45%);
}
.color-5 {
    color: hsl(43, 97%, 56%);
}
