.color-1 {
    color: hsl(170, 100%, 37%);
}
.color-2 {
    color: hsl(171, 100%, 31%);
}
.color-3 {
    color: hsl(156, 100%, 40%);
}
.color-4 {
    color: hsl(156, 100%, 34%);
}
.color-5 {
    color: hsl(201, 68%, 50%);
}
.color-6 {
    color: hsl(201, 70%, 42%);
}
.color-7 {
    color: hsl(288, 36%, 52%);
}
.color-8 {
    color: hsl(287, 42%, 46%);
}
.color-9 {
    color: hsl(208, 29%, 28%);
}
.color-10 {
    color: hsl(208, 30%, 24%);
}
.color-11 {
    color: hsl(44, 87%, 60%);
}
.color-12 {
    color: hsl(31, 91%, 59%);
}
.color-13 {
    color: hsl(23, 81%, 57%);
}
.color-14 {
    color: hsl(17, 76%, 48%);
}
.color-15 {
    color: hsl(3, 82%, 59%);
}
.color-16 {
    color: hsl(3, 61%, 48%);
}
.color-17 {
    color: hsl(192, 15%, 94%);
}
.color-18 {
    color: hsl(204, 8%, 76%);
}
.color-19 {
    color: hsl(183, 9%, 62%);
}
.color-20 {
    color: hsl(184, 6%, 52%);
}
