.color-1 {
    color: hsl(353, 86%, 64%);
}
.color-2 {
    color: hsl(353, 71%, 57%);
}
.color-3 {
    color: hsl(7, 100%, 67%);
}
.color-4 {
    color: hsl(6, 83%, 60%);
}
.color-5 {
    color: hsl(40, 100%, 70%);
}
.color-6 {
    color: hsl(37, 92%, 66%);
}
.color-7 {
    color: hsl(96, 52%, 65%);
}
.color-8 {
    color: hsl(97, 43%, 57%);
}
.color-9 {
    color: hsl(193, 76%, 58%);
}
.color-10 {
    color: hsl(193, 67%, 51%);
}
.color-11 {
    color: hsl(211, 74%, 63%);
}
.color-12 {
    color: hsl(212, 63%, 56%);
}
.color-13 {
    color: hsl(260, 62%, 74%);
}
.color-14 {
    color: hsl(260, 53%, 66%);
}
.color-15 {
    color: hsl(329, 79%, 74%);
}
.color-16 {
    color: hsl(328, 61%, 65%);
}
.color-17 {
    color: hsl(216, 33%, 97%);
}
.color-18 {
    color: hsl(214, 16%, 92%);
}
.color-19 {
    color: hsl(215, 13%, 82%);
}
.color-20 {
    color: hsl(213, 12%, 70%);
}
.color-21 {
    color: hsl(213, 8%, 43%);
}
