.color-1 {
    color: hsl(60, 1%, 67%);
}
.color-2 {
    color: hsl(228, 3%, 28%);
}
.color-3 {
    color: hsl(358, 88%, 65%);
}
.color-4 {
    color: hsl(208, 11%, 77%);
}
.color-5 {
    color: hsl(357, 73%, 56%);
}
