.color-1 {
    color: hsl(189, 21%, 88%);
}
.color-2 {
    color: hsl(8, 66%, 51%);
}
.color-3 {
    color: hsl(36, 62%, 71%);
}
.color-4 {
    color: hsl(47, 14%, 67%);
}
.color-5 {
    color: hsl(0, 0%, 93%);
}
.color-6 {
    color: hsl(40, 42%, 81%);
}
.color-7 {
    color: hsl(195, 19%, 79%);
}
