.color-1 {
    color: hsl(16, 7%, 56%);
}
.color-2 {
    color: hsl(12, 17%, 94%);
}
.color-3 {
    color: hsl(42, 53%, 92%);
}
.color-4 {
    color: hsl(150, 3%, 87%);
}
.color-5 {
    color: hsl(26, 17%, 92%);
}
.color-6 {
    color: hsl(44, 24%, 88%);
}
.color-7 {
    color: hsl(27, 76%, 43%);
}
.color-8 {
    color: hsl(14, 85%, 35%);
}
