.color-1 {
    color: hsl(198, 18%, 27%);
}
.color-2 {
    color: hsl(356, 100%, 25%);
}
.color-3 {
    color: hsl(300, 9%, 84%);
}
.color-4 {
    color: hsl(24, 46%, 78%);
}
.color-5 {
    color: hsl(50, 100%, 83%);
}
.color-6 {
    color: hsl(35, 59%, 62%);
}
