.color-1 {
    color: hsl(33, 5%, 43%);
}
.color-2 {
    color: hsl(86, 5%, 29%);
}
.color-3 {
    color: hsl(29, 45%, 86%);
}
.color-4 {
    color: hsl(60, 5%, 8%);
}
.color-5 {
    color: hsl(27, 48%, 88%);
}
.color-6 {
    color: hsl(30, 12%, 61%);
}
