.color-1 {
    color: hsl(163, 100%, 91%);
}
.color-2 {
    color: hsl(250, 33%, 96%);
}
.color-3 {
    color: hsl(154, 86%, 86%);
}
.color-4 {
    color: hsl(192, 9%, 78%);
}
.color-5 {
    color: hsl(60, 3%, 16%);
}
.color-6 {
    color: hsl(138, 24%, 57%);
}
.color-7 {
    color: hsl(0, 0%, 92%);
}
