.color-1 {
    color: hsl(13, 18%, 40%);
}
.color-2 {
    color: hsl(35, 38%, 61%);
}
.color-3 {
    color: hsl(3, 89%, 52%);
}
.color-4 {
    color: hsl(9, 46%, 62%);
}
.color-5 {
    color: hsl(58, 72%, 92%);
}
.color-6 {
    color: hsl(354, 16%, 13%);
}
.color-7 {
    color: hsl(27, 33%, 59%);
}
