.color-1 {
    color: hsl(195, 98%, 21%);
}
.color-2 {
    color: hsl(195, 52%, 43%);
}
.color-3 {
    color: hsl(208, 100%, 18%);
}
.color-4 {
    color: hsl(227, 93%, 6%);
}
.color-5 {
    color: hsl(43, 39%, 44%);
}
.color-6 {
    color: hsl(24, 89%, 11%);
}
