.color-1 {
    color: hsl(196, 75%, 89%);
}
.color-2 {
    color: hsl(201, 53%, 46%);
}
.color-3 {
    color: hsl(203, 43%, 33%);
}
.color-4 {
    color: hsl(59, 90%, 88%);
}
.color-5 {
    color: hsl(112, 27%, 84%);
}
.color-6 {
    color: hsl(205, 49%, 52%);
}
.color-7 {
    color: hsl(45, 55%, 96%);
}
