.color-1 {
    color: hsl(42, 57%, 5%);
}
.color-2 {
    color: hsl(50, 19%, 94%);
}
.color-3 {
    color: hsl(60, 3%, 85%);
}
.color-4 {
    color: hsl(40, 14%, 75%);
}
.color-5 {
    color: hsl(45, 7%, 55%);
}
