.color-1 {
    color: hsl(3, 66%, 52%);
}
.color-2 {
    color: hsl(185, 55%, 64%);
}
.color-3 {
    color: hsl(52, 31%, 58%);
}
.color-4 {
    color: hsl(88, 100%, 96%);
}
.color-5 {
    color: hsl(131, 33%, 88%);
}
.color-6 {
    color: hsl(232, 24%, 24%);
}
