.color-1 {
    color: hsl(72, 27%, 70%);
}
.color-2 {
    color: hsl(120, 8%, 84%);
}
.color-3 {
    color: hsl(9, 98%, 44%);
}
.color-4 {
    color: hsl(67, 32%, 45%);
}
.color-5 {
    color: hsl(35, 100%, 45%);
}
.color-6 {
    color: hsl(330, 8%, 5%);
}
