.color-1 {
    color: hsl(34, 100%, 58%);
}
.color-2 {
    color: hsl(160, 14%, 30%);
}
.color-3 {
    color: hsl(5, 81%, 40%);
}
.color-4 {
    color: hsl(336, 21%, 41%);
}
.color-5 {
    color: hsl(49, 100%, 53%);
}
