.color-1 {
    color: hsl(130, 13%, 39%);
}
.color-2 {
    color: hsl(332, 100%, 69%);
}
.color-3 {
    color: hsl(16, 96%, 58%);
}
.color-4 {
    color: hsl(34, 85%, 54%);
}
.color-5 {
    color: hsl(131, 48%, 49%);
}
