.color-1 {
    color: hsl(48, 41%, 69%);
}
.color-2 {
    color: hsl(60, 100%, 84%);
}
.color-3 {
    color: hsl(28, 100%, 51%);
}
.color-4 {
    color: hsl(48, 100%, 51%);
}
.color-5 {
    color: hsl(227, 30%, 50%);
}
