.color-1 {
    color: hsl(333, 100%, 68%);
}
.color-2 {
    color: hsl(187, 99%, 27%);
}
.color-3 {
    color: hsl(9, 100%, 56%);
}
.color-4 {
    color: hsl(199, 97%, 40%);
}
.color-5 {
    color: hsl(21, 98%, 61%);
}
