.color-1 {
    color: hsl(2, 29%, 50%);
}
.color-2 {
    color: hsl(295, 17%, 62%);
}
.color-3 {
    color: hsl(327, 4%, 47%);
}
.color-4 {
    color: hsl(75, 26%, 54%);
}
.color-5 {
    color: hsl(9, 84%, 78%);
}
