.color-1 {
    color: hsl(240, 86%, 5%);
}
.color-2 {
    color: hsl(340, 99%, 42%);
}
.color-3 {
    color: hsl(57, 85%, 95%);
}
.color-4 {
    color: hsl(194, 62%, 75%);
}
.color-5 {
    color: hsl(280, 18%, 57%);
}
