.color-1 {
    color: hsl(347, 100%, 58%);
}
.color-2 {
    color: hsl(242, 55%, 58%);
}
.color-3 {
    color: hsl(210, 100%, 48%);
}
.color-4 {
    color: hsl(195, 71%, 49%);
}
.color-5 {
    color: hsl(196, 90%, 64%);
}
.color-6 {
    color: hsl(144, 69%, 52%);
}
.color-7 {
    color: hsl(0, 100%, 61%);
}
.color-8 {
    color: hsl(29, 100%, 60%);
}
.color-9 {
    color: hsl(43, 100%, 63%);
}
.color-10 {
    color: hsl(240, 2%, 57%);
}
.color-11 {
    color: hsl(240, 5%, 79%);
}
.color-12 {
    color: hsl(33, 18%, 80%);
}
