.color-1 {
    color: hsl(25, 82%, 58%);
}
.color-2 {
    color: hsl(28, 72%, 71%);
}
.color-3 {
    color: hsl(44, 72%, 93%);
}
.color-4 {
    color: hsl(109, 13%, 59%);
}
.color-5 {
    color: hsl(112, 24%, 26%);
}
