.color-1 {
    color: hsl(346, 64%, 58%);
}
.color-2 {
    color: hsl(47, 100%, 93%);
}
.color-3 {
    color: hsl(173, 21%, 58%);
}
.color-4 {
    color: hsl(179, 77%, 25%);
}
.color-5 {
    color: hsl(165, 4%, 19%);
}
