.color-1 {
    color: hsl(1, 95%, 61%);
}
.color-2 {
    color: hsl(340, 87%, 52%);
}
.color-3 {
    color: hsl(296, 61%, 41%);
}
.color-4 {
    color: hsl(264, 49%, 46%);
}
.color-5 {
    color: hsl(230, 46%, 47%);
}
.color-6 {
    color: hsl(203, 86%, 50%);
}
.color-7 {
    color: hsl(197, 100%, 47%);
}
.color-8 {
    color: hsl(186, 100%, 41%);
}
.color-9 {
    color: hsl(175, 100%, 29%);
}
.color-10 {
    color: hsl(136, 48%, 46%);
}
.color-11 {
    color: hsl(104, 61%, 54%);
}
.color-12 {
    color: hsl(67, 65%, 60%);
}
.color-13 {
    color: hsl(52, 100%, 69%);
}
.color-14 {
    color: hsl(40, 100%, 63%);
}
.color-15 {
    color: hsl(29, 100%, 60%);
}
.color-16 {
    color: hsl(10, 100%, 60%);
}
.color-17 {
    color: hsl(13, 25%, 39%);
}
.color-18 {
    color: hsl(0, 0%, 62%);
}
.color-19 {
    color: hsl(198, 19%, 45%);
}
.color-20 {
    color: hsl(0, -2147483648%, 0%);
}
