.color-1 {
    color: hsl(216, 38%, 95%);
}
.color-2 {
    color: hsl(220, 30%, 86%);
}
.color-3 {
    color: hsl(217, 32%, 69%);
}
.color-4 {
    color: hsl(218, 22%, 55%);
}
.color-5 {
    color: hsl(218, 27%, 39%);
}
