.color-1 {
    color: hsl(33, 27%, 71%);
}
.color-2 {
    color: hsl(29, 22%, 76%);
}
.color-3 {
    color: hsl(30, 18%, 27%);
}
.color-4 {
    color: hsl(222, 100%, 2%);
}
.color-5 {
    color: hsl(211, 92%, 10%);
}
