.color-1 {
    color: hsl(0, 0%, 71%);
}
.color-2 {
    color: hsl(0, 0%, 51%);
}
.color-3 {
    color: hsl(0, 0%, 37%);
}
.color-4 {
    color: hsl(0, 0%, 20%);
}
.color-5 {
    color: hsl(0, 0%, 12%);
}
