.color-1 {
    color: hsl(216, 100%, 85%);
}
.color-2 {
    color: hsl(216, 100%, 82%);
}
.color-3 {
    color: hsl(216, 100%, 79%);
}
.color-4 {
    color: hsl(216, 100%, 76%);
}
.color-5 {
    color: hsl(216, 100%, 74%);
}
