.color-1 {
    color: hsl(207, 44%, 49%);
}
.color-2 {
    color: hsl(207, 100%, 69%);
}
.color-3 {
    color: hsl(207, 81%, 65%);
}
.color-4 {
    color: hsl(207, 56%, 56%);
}
.color-5 {
    color: hsl(208, 44%, 38%);
}
