.color-1 {
    color: hsl(0, 0%, 94%);
}
.color-2 {
    color: hsl(0, 0%, 9%);
}
.color-3 {
    color: hsl(0, 0%, 19%);
}
.color-4 {
    color: hsl(0, 0%, 38%);
}
.color-5 {
    color: hsl(0, 0%, 56%);
}
