.color-1 {
    color: hsl(60, 2%, 21%);
}
.color-2 {
    color: hsl(0, 0%, 45%);
}
.color-3 {
    color: hsl(48, 2%, 57%);
}
.color-4 {
    color: hsl(60, 1%, 60%);
}
.color-5 {
    color: hsl(48, 5%, 80%);
}
