.color-1 {
    color: hsl(17, 39%, 12%);
}
.color-2 {
    color: hsl(179, 21%, 41%);
}
.color-3 {
    color: hsl(0, 0%, 93%);
}
.color-4 {
    color: hsl(0, 0%, 93%);
}
.color-5 {
    color: hsl(17, 21%, 94%);
}
