.color-1 {
    color: hsl(59, 100%, 82%);
}
.color-2 {
    color: hsl(226, 100%, 91%);
}
.color-3 {
    color: hsl(59, 100%, 91%);
}
.color-4 {
    color: hsl(157, 100%, 91%);
}
.color-5 {
    color: hsl(199, 100%, 82%);
}
