.color-1 {
    color: hsl(62, 61%, 90%);
}
.color-2 {
    color: hsl(46, 43%, 79%);
}
.color-3 {
    color: hsl(21, 14%, 58%);
}
.color-4 {
    color: hsl(21, 14%, 58%);
}
.color-5 {
    color: hsl(30, 4%, 44%);
}
