.color-1 {
    color: hsl(58, 71%, 77%);
}
.color-2 {
    color: hsl(72, 71%, 77%);
}
.color-3 {
    color: hsl(65, 71%, 77%);
}
.color-4 {
    color: hsl(330, 27%, 88%);
}
.color-5 {
    color: hsl(304, 27%, 88%);
}
