.color-1 {
    color: hsl(250, 20%, 59%);
}
.color-2 {
    color: hsl(45, 63%, 70%);
}
.color-3 {
    color: hsl(112, 94%, 21%);
}
.color-4 {
    color: hsl(339, 90%, 43%);
}
.color-5 {
    color: hsl(229, 57%, 34%);
}
