.color-1 {
    color: hsl(170, 44%, 52%);
}
.color-2 {
    color: hsl(178, 44%, 52%);
}
.color-3 {
    color: hsl(178, 87%, 41%);
}
.color-4 {
    color: hsl(168, 87%, 41%);
}
.color-5 {
    color: hsl(174, 26%, 63%);
}
