.color-1 {
    color: hsl(62, 100%, 87%);
}
.color-2 {
    color: hsl(79, 100%, 82%);
}
.color-3 {
    color: hsl(96, 100%, 85%);
}
.color-4 {
    color: hsl(118, 100%, 87%);
}
.color-5 {
    color: hsl(143, 100%, 85%);
}
