.color-1 {
    color: hsl(164, 12%, 45%);
}
.color-2 {
    color: hsl(103, 11%, 58%);
}
.color-3 {
    color: hsl(64, 29%, 69%);
}
.color-4 {
    color: hsl(56, 59%, 76%);
}
.color-5 {
    color: hsl(198, 11%, 49%);
}
