.color-1 {
    color: hsl(0, 0%, 96%);
}
.color-2 {
    color: hsl(139, 28%, 76%);
}
.color-3 {
    color: hsl(73, 26%, 69%);
}
.color-4 {
    color: hsl(40, 9%, 94%);
}
.color-5 {
    color: hsl(111, 19%, 93%);
}
