.color-1 {
    color: hsl(177, 22%, 18%);
}
.color-2 {
    color: hsl(196, 19%, 28%);
}
.color-3 {
    color: hsl(10, 100%, 37%);
}
.color-4 {
    color: hsl(33, 32%, 49%);
}
.color-5 {
    color: hsl(106, 55%, 24%);
}
