.color-1 {
    color: hsl(11, 78%, 60%);
}
.color-2 {
    color: hsl(59, 79%, 89%);
}
.color-3 {
    color: hsl(43, 43%, 75%);
}
.color-4 {
    color: hsl(63, 20%, 45%);
}
.color-5 {
    color: hsl(50, 41%, 25%);
}
