.color-1 {
    color: hsl(280, 26%, 93%);
}
.color-2 {
    color: hsl(320, 100%, 99%);
}
.color-3 {
    color: hsl(90, 100%, 100%);
}
.color-4 {
    color: hsl(354, 100%, 80%);
}
.color-5 {
    color: hsl(346, 100%, 78%);
}
