.color-1 {
    color: hsl(209, 100%, 24%);
}
.color-2 {
    color: hsl(197, 95%, 67%);
}
.color-3 {
    color: hsl(0, 0%, 92%);
}
.color-4 {
    color: hsl(8, 100%, 50%);
}
.color-5 {
    color: hsl(8, 100%, 79%);
}
.color-6 {
    color: hsl(106, 100%, 50%);
}
.color-7 {
    color: hsl(106, 100%, 79%);
}
