.color-1 {
    color: hsl(247, 20%, 18%);
}
.color-2 {
    color: hsl(292, 16%, 28%);
}
.color-3 {
    color: hsl(6, 23%, 51%);
}
.color-4 {
    color: hsl(18, 55%, 62%);
}
.color-5 {
    color: hsl(32, 100%, 71%);
}
