.color-1 {
    color: hsl(3, 18%, 57%);
}
.color-2 {
    color: hsl(134, 11%, 76%);
}
.color-3 {
    color: hsl(53, 4%, 56%);
}
.color-4 {
    color: hsl(357, 49%, 83%);
}
.color-5 {
    color: hsl(204, 26%, 75%);
}
