.color-1 {
    color: hsl(324, 25%, 57%);
}
.color-2 {
    color: hsl(341, 32%, 81%);
}
.color-3 {
    color: hsl(45, 32%, 81%);
}
.color-4 {
    color: hsl(99, 32%, 81%);
}
.color-5 {
    color: hsl(163, 32%, 81%);
}
