.color-1 {
    color: hsl(155, 77%, 86%);
}
.color-2 {
    color: hsl(46, 78%, 75%);
}
.color-3 {
    color: hsl(5, 50%, 40%);
}
.color-4 {
    color: hsl(6, 34%, 12%);
}
.color-5 {
    color: hsl(229, 39%, 11%);
}
