.color-1 {
    color: hsl(29, 37%, 84%);
}
.color-2 {
    color: hsl(29, 49%, 88%);
}
.color-3 {
    color: hsl(33, 5%, 44%);
}
.color-4 {
    color: hsl(70, 4%, 29%);
}
.color-5 {
    color: hsl(60, 6%, 7%);
}
