.color-1 {
    color: hsl(22, 89%, 46%);
}
.color-2 {
    color: hsl(55, 19%, 74%);
}
.color-3 {
    color: hsl(67, 59%, 51%);
}
.color-4 {
    color: hsl(69, 5%, 49%);
}
.color-5 {
    color: hsl(206, 54%, 49%);
}
