.color-1 {
    color: hsl(33, 100%, 96%);
}
.color-2 {
    color: hsl(34, 13%, 65%);
}
.color-3 {
    color: hsl(197, 100%, 96%);
}
.color-4 {
    color: hsl(198, 39%, 50%);
}
.color-5 {
    color: hsl(180, 11%, 96%);
}
