.color-1 {
    color: hsl(259, 55%, 12%);
}
.color-2 {
    color: hsl(322, 22%, 30%);
}
.color-3 {
    color: hsl(17, 55%, 68%);
}
.color-4 {
    color: hsl(42, 88%, 84%);
}
.color-5 {
    color: hsl(66, 15%, 61%);
}
