.color-1 {
    color: hsl(50, 22%, 57%);
}
.color-2 {
    color: hsl(104, 43%, 19%);
}
.color-3 {
    color: hsl(57, 17%, 77%);
}
.color-4 {
    color: hsl(120, 17%, 64%);
}
.color-5 {
    color: hsl(44, 21%, 14%);
}
.color-6 {
    color: hsl(70, 8%, 85%);
}
.color-7 {
    color: hsl(353, 22%, 24%);
}
