.color-1 {
    color: hsl(54, 91%, 73%);
}
.color-2 {
    color: hsl(238, 64%, 91%);
}
.color-3 {
    color: hsl(197, 38%, 76%);
}
.color-4 {
    color: hsl(43, 13%, 62%);
}
.color-5 {
    color: hsl(230, 5%, 53%);
}
