.color-1 {
    color: hsl(10, 24%, 15%);
}
.color-2 {
    color: hsl(16, 12%, 56%);
}
.color-3 {
    color: hsl(11, 72%, 63%);
}
.color-4 {
    color: hsl(24, 67%, 31%);
}
.color-5 {
    color: hsl(23, 61%, 52%);
}
.color-6 {
    color: hsl(178, 20%, 61%);
}
.color-7 {
    color: hsl(179, 24%, 34%);
}
