.color-1 {
    color: hsl(0, 69%, 57%);
}
.color-2 {
    color: hsl(60, 56%, 47%);
}
.color-3 {
    color: hsl(88, 57%, 71%);
}
.color-4 {
    color: hsl(124, 73%, 93%);
}
.color-5 {
    color: hsl(229, 39%, 11%);
}
