.color-1 {
    color: hsl(277, 40%, 48%);
}
.color-2 {
    color: hsl(290, 3%, 60%);
}
.color-3 {
    color: hsl(0, 0%, 95%);
}
.color-4 {
    color: hsl(357, 73%, 38%);
}
.color-5 {
    color: hsl(29, 63%, 37%);
}
