.color-1 {
    color: hsl(88, 37%, 90%);
}
.color-2 {
    color: hsl(36, 94%, 60%);
}
.color-3 {
    color: hsl(24, 88%, 72%);
}
.color-4 {
    color: hsl(50, 99%, 73%);
}
.color-5 {
    color: hsl(47, 77%, 88%);
}
.color-6 {
    color: hsl(13, 92%, 71%);
}
.color-7 {
    color: hsl(25, 62%, 85%);
}
