.color-1 {
    color: hsl(227, 35%, 24%);
}
.color-2 {
    color: hsl(245, 24%, 22%);
}
.color-3 {
    color: hsl(146, 11%, 60%);
}
.color-4 {
    color: hsl(170, 17%, 44%);
}
.color-5 {
    color: hsl(189, 21%, 36%);
}
