.color-1 {
    color: hsl(40, 82%, 98%);
}
.color-2 {
    color: hsl(42, 59%, 86%);
}
.color-3 {
    color: hsl(41, 56%, 64%);
}
.color-4 {
    color: hsl(38, 76%, 41%);
}
.color-5 {
    color: hsl(33, 79%, 28%);
}
