.color-1 {
    color: hsl(12, 98%, 66%);
}
.color-2 {
    color: hsl(25, 98%, 66%);
}
.color-3 {
    color: hsl(37, 97%, 72%);
}
.color-4 {
    color: hsl(47, 96%, 80%);
}
.color-5 {
    color: hsl(85, 56%, 77%);
}
