.color-1 {
    color: hsl(73, 9%, 32%);
}
.color-2 {
    color: hsl(101, 34%, 47%);
}
.color-3 {
    color: hsl(73, 15%, 54%);
}
.color-4 {
    color: hsl(73, 75%, 78%);
}
.color-5 {
    color: hsl(73, 33%, 89%);
}
