.color-1 {
    color: hsl(0, 11%, 35%);
}
.color-2 {
    color: hsl(18, 11%, 39%);
}
.color-3 {
    color: hsl(44, 12%, 46%);
}
.color-4 {
    color: hsl(64, 14%, 55%);
}
.color-5 {
    color: hsl(82, 20%, 63%);
}
