.color-1 {
    color: hsl(142, 77%, 76%);
}
.color-2 {
    color: hsl(147, 40%, 83%);
}
.color-3 {
    color: hsl(0, -2147483648%, 100%);
}
.color-4 {
    color: hsl(186, 91%, 92%);
}
.color-5 {
    color: hsl(313, 70%, 85%);
}
