.color-1 {
    color: hsl(5, 50%, 40%);
}
.color-2 {
    color: hsl(46, 78%, 75%);
}
.color-3 {
    color: hsl(63, 45%, 81%);
}
.color-4 {
    color: hsl(157, 42%, 83%);
}
.color-5 {
    color: hsl(182, 59%, 66%);
}
