.color-1 {
    color: hsl(16, 76%, 93%);
}
.color-2 {
    color: hsl(59, 90%, 77%);
}
.color-3 {
    color: hsl(109, 74%, 77%);
}
.color-4 {
    color: hsl(346, 87%, 64%);
}
.color-5 {
    color: hsl(23, 75%, 84%);
}
