.color-1 {
    color: hsl(354, 100%, 64%);
}
.color-2 {
    color: hsl(340, 15%, 16%);
}
.color-3 {
    color: hsl(246, 29%, 75%);
}
.color-4 {
    color: hsl(224, 22%, 86%);
}
.color-5 {
    color: hsl(237, 12%, 34%);
}
