.color-1 {
    color: hsl(333, 76%, 58%);
}
.color-2 {
    color: hsl(65, 76%, 59%);
}
.color-3 {
    color: hsl(65, 55%, 66%);
}
.color-4 {
    color: hsl(65, 29%, 59%);
}
.color-5 {
    color: hsl(66, 15%, 41%);
}
