.color-1 {
    color: hsl(0, 0%, 90%);
}
.color-2 {
    color: hsl(89, 95%, 30%);
}
.color-3 {
    color: hsl(90, 86%, 95%);
}
.color-4 {
    color: hsl(32, 30%, 41%);
}
.color-5 {
    color: hsl(101, 58%, 10%);
}
