.color-1 {
    color: hsl(44, 15%, 58%);
}
.color-2 {
    color: hsl(169, 9%, 64%);
}
.color-3 {
    color: hsl(53, 47%, 54%);
}
.color-4 {
    color: hsl(15, 62%, 56%);
}
.color-5 {
    color: hsl(76, 32%, 50%);
}
