.color-1 {
    color: hsl(190, 6%, 79%);
}
.color-2 {
    color: hsl(196, 42%, 72%);
}
.color-3 {
    color: hsl(205, 33%, 61%);
}
.color-4 {
    color: hsl(186, 100%, 39%);
}
.color-5 {
    color: hsl(211, 66%, 31%);
}
.color-6 {
    color: hsl(165, 48%, 64%);
}
.color-7 {
    color: hsl(23, 38%, 72%);
}
.color-8 {
    color: hsl(19, 95%, 68%);
}
.color-9 {
    color: hsl(47, 67%, 75%);
}
.color-10 {
    color: hsl(354, 67%, 71%);
}
.color-11 {
    color: hsl(359, 30%, 46%);
}
.color-12 {
    color: hsl(105, 27%, 34%);
}
.color-13 {
    color: hsl(62, 28%, 39%);
}
.color-14 {
    color: hsl(19, 45%, 61%);
}
.color-15 {
    color: hsl(300, 1%, 53%);
}
.color-16 {
    color: hsl(309, 20%, 64%);
}
