.color-1 {
    color: hsl(125, 64%, 86%);
}
.color-2 {
    color: hsl(20, 60%, 87%);
}
.color-3 {
    color: hsl(182, 35%, 83%);
}
.color-4 {
    color: hsl(65, 100%, 93%);
}
.color-5 {
    color: hsl(0, 100%, 90%);
}
