.color-1 {
    color: hsl(0, 100%, 95%);
}
.color-2 {
    color: hsl(68, 100%, 76%);
}
.color-3 {
    color: hsl(304, 100%, 94%);
}
.color-4 {
    color: hsl(60, 70%, 85%);
}
.color-5 {
    color: hsl(119, 100%, 91%);
}
