.color-1 {
    color: hsl(358, 68%, 82%);
}
.color-2 {
    color: hsl(40, 68%, 82%);
}
.color-3 {
    color: hsl(55, 68%, 82%);
}
.color-4 {
    color: hsl(75, 68%, 82%);
}
.color-5 {
    color: hsl(188, 24%, 81%);
}
