.color-1 {
    color: hsl(30, 33%, 94%);
}
.color-2 {
    color: hsl(30, 44%, 96%);
}
.color-3 {
    color: hsl(24, 45%, 98%);
}
.color-4 {
    color: hsl(24, 60%, 90%);
}
.color-5 {
    color: hsl(9, 65%, 85%);
}
