.color-1 {
    color: hsl(65, 37%, 59%);
}
.color-2 {
    color: hsl(60, 74%, 86%);
}
.color-3 {
    color: hsl(53, 80%, 78%);
}
.color-4 {
    color: hsl(8, 57%, 70%);
}
.color-5 {
    color: hsl(44, 38%, 66%);
}
