.color-1 {
    color: hsl(64, 80%, 76%);
}
.color-2 {
    color: hsl(54, 88%, 68%);
}
.color-3 {
    color: hsl(35, 100%, 72%);
}
.color-4 {
    color: hsl(13, 100%, 78%);
}
.color-5 {
    color: hsl(185, 29%, 64%);
}
