.color-1 {
    color: hsl(94, 100%, 95%);
}
.color-2 {
    color: hsl(144, 84%, 93%);
}
.color-3 {
    color: hsl(159, 100%, 88%);
}
.color-4 {
    color: hsl(159, 100%, 86%);
}
.color-5 {
    color: hsl(159, 100%, 83%);
}
