.color-1 {
    color: hsl(351, 100%, 77%);
}
.color-2 {
    color: hsl(21, 77%, 78%);
}
.color-3 {
    color: hsl(50, 58%, 77%);
}
.color-4 {
    color: hsl(80, 77%, 78%);
}
.color-5 {
    color: hsl(111, 100%, 77%);
}
