.color-1 {
    color: hsl(160, 35%, 92%);
}
.color-2 {
    color: hsl(342, 100%, 95%);
}
.color-3 {
    color: hsl(345, 57%, 97%);
}
.color-4 {
    color: hsl(54, 85%, 85%);
}
.color-5 {
    color: hsl(160, 35%, 92%);
}
