.color-1 {
    color: hsl(67, 73%, 60%);
}
.color-2 {
    color: hsl(72, 75%, 58%);
}
.color-3 {
    color: hsl(84, 72%, 63%);
}
.color-4 {
    color: hsl(89, 52%, 56%);
}
.color-5 {
    color: hsl(67, 52%, 56%);
}
