.color-1 {
    color: hsl(0, -2147483648%, 100%);
}
.color-2 {
    color: hsl(0, 51%, 71%);
}
.color-3 {
    color: hsl(0, 60%, 67%);
}
.color-4 {
    color: hsl(67, 60%, 67%);
}
.color-5 {
    color: hsl(42, 60%, 67%);
}
