.color-1 {
    color: hsl(60, 20%, 47%);
}
.color-2 {
    color: hsl(40, 36%, 61%);
}
.color-3 {
    color: hsl(20, 81%, 79%);
}
.color-4 {
    color: hsl(30, 77%, 86%);
}
.color-5 {
    color: hsl(0, 100%, 96%);
}
