.color-1 {
    color: hsl(336, 68%, 60%);
}
.color-2 {
    color: hsl(336, 56%, 71%);
}
.color-3 {
    color: hsl(336, 27%, 82%);
}
.color-4 {
    color: hsl(78, 16%, 85%);
}
.color-5 {
    color: hsl(157, 61%, 67%);
}
