.color-1 {
    color: hsl(55, 43%, 72%);
}
.color-2 {
    color: hsl(0, 12%, 27%);
}
.color-3 {
    color: hsl(15, 61%, 76%);
}
.color-4 {
    color: hsl(36, 48%, 72%);
}
.color-5 {
    color: hsl(35, 72%, 89%);
}
