.color-1 {
    color: hsl(192, 46%, 88%);
}
.color-2 {
    color: hsl(304, 45%, 94%);
}
.color-3 {
    color: hsl(342, 100%, 91%);
}
.color-4 {
    color: hsl(30, 80%, 98%);
}
.color-5 {
    color: hsl(195, 17%, 86%);
}
