.color-1 {
    color: hsl(34, 80%, 73%);
}
.color-2 {
    color: hsl(46, 50%, 57%);
}
.color-3 {
    color: hsl(55, 45%, 60%);
}
.color-4 {
    color: hsl(171, 21%, 69%);
}
.color-5 {
    color: hsl(212, 43%, 78%);
}
