.color-1 {
    color: hsl(138, 19%, 76%);
}
.color-2 {
    color: hsl(34, 100%, 91%);
}
.color-3 {
    color: hsl(11, 100%, 88%);
}
.color-4 {
    color: hsl(352, 100%, 83%);
}
.color-5 {
    color: hsl(352, 84%, 71%);
}
