.color-1 {
    color: hsl(15, 40%, 49%);
}
.color-2 {
    color: hsl(14, 89%, 71%);
}
.color-3 {
    color: hsl(27, 97%, 77%);
}
.color-4 {
    color: hsl(52, 100%, 86%);
}
.color-5 {
    color: hsl(152, 38%, 71%);
}
