.color-1 {
    color: hsl(327, 71%, 78%);
}
.color-2 {
    color: hsl(342, 71%, 78%);
}
.color-3 {
    color: hsl(356, 71%, 78%);
}
.color-4 {
    color: hsl(11, 71%, 78%);
}
.color-5 {
    color: hsl(26, 71%, 78%);
}
