.color-1 {
    color: hsl(336, 100%, 96%);
}
.color-2 {
    color: hsl(39, 84%, 93%);
}
.color-3 {
    color: hsl(149, 100%, 94%);
}
.color-4 {
    color: hsl(225, 100%, 93%);
}
.color-5 {
    color: hsl(275, 100%, 93%);
}
