.color-1 {
    color: hsl(88, 40%, 88%);
}
.color-2 {
    color: hsl(157, 54%, 89%);
}
.color-3 {
    color: hsl(26, 62%, 85%);
}
.color-4 {
    color: hsl(27, 100%, 82%);
}
.color-5 {
    color: hsl(47, 94%, 70%);
}
