.color-1 {
    color: hsl(58, 100%, 95%);
}
.color-2 {
    color: hsl(57, 100%, 91%);
}
.color-3 {
    color: hsl(69, 100%, 85%);
}
.color-4 {
    color: hsl(81, 100%, 85%);
}
.color-5 {
    color: hsl(111, 100%, 85%);
}
