.color-1 {
    color: hsl(194, 20%, 16%);
}
.color-2 {
    color: hsl(94, 10%, 53%);
}
.color-3 {
    color: hsl(135, 10%, 38%);
}
.color-4 {
    color: hsl(72, 16%, 63%);
}
.color-5 {
    color: hsl(57, 37%, 80%);
}
