.color-1 {
    color: hsl(35, 82%, 53%);
}
.color-2 {
    color: hsl(194, 56%, 28%);
}
.color-3 {
    color: hsl(41, 94%, 88%);
}
.color-4 {
    color: hsl(131, 100%, 12%);
}
.color-5 {
    color: hsl(1, 86%, 50%);
}
