.color-1 {
    color: hsl(176, 43%, 54%);
}
.color-2 {
    color: hsl(40, 31%, 89%);
}
.color-3 {
    color: hsl(349, 65%, 55%);
}
.color-4 {
    color: hsl(351, 43%, 52%);
}
.color-5 {
    color: hsl(171, 30%, 34%);
}
