.color-1 {
    color: hsl(40, 53%, 80%);
}
.color-2 {
    color: hsl(0, 0%, 30%);
}
.color-3 {
    color: hsl(9, 100%, 5%);
}
.color-4 {
    color: hsl(35, 33%, 58%);
}
.color-5 {
    color: hsl(31, 41%, 34%);
}
.color-6 {
    color: hsl(37, 91%, 91%);
}
.color-7 {
    color: hsl(172, 70%, 24%);
}
.color-8 {
    color: hsl(40, 6%, 10%);
}
.color-9 {
    color: hsl(0, 0%, 29%);
}
.color-10 {
    color: hsl(0, 0%, 9%);
}
