.color-1 {
    color: hsl(0, -2147483648%, 100%);
}
.color-2 {
    color: hsl(0, 0%, 95%);
}
.color-3 {
    color: hsl(358, 86%, 52%);
}
.color-4 {
    color: hsl(200, 99%, 40%);
}
.color-5 {
    color: hsl(0, 0%, 40%);
}
