.color-1 {
    color: hsl(213, 81%, 44%);
}
.color-2 {
    color: hsl(212, 81%, 33%);
}
.color-3 {
    color: hsl(213, 81%, 20%);
}
.color-4 {
    color: hsl(228, 13%, 8%);
}
.color-5 {
    color: hsl(223, 83%, 9%);
}
.color-6 {
    color: hsl(48, 94%, 73%);
}
.color-7 {
    color: hsl(48, 41%, 46%);
}
