.color-1 {
    color: hsl(0, 5%, 17%);
}
.color-2 {
    color: hsl(0, 1%, 77%);
}
.color-3 {
    color: hsl(0, -2147483648%, 100%);
}
.color-4 {
    color: hsl(0, 2%, 37%);
}
.color-5 {
    color: hsl(0, 0%, 75%);
}
.color-6 {
    color: hsl(0, 3%, 24%);
}
.color-7 {
    color: hsl(0, 2%, 46%);
}
