.color-1 {
    color: hsl(48, 17%, 94%);
}
.color-2 {
    color: hsl(240, 14%, 63%);
}
.color-3 {
    color: hsl(304, 9%, 62%);
}
.color-4 {
    color: hsl(334, 40%, 57%);
}
.color-5 {
    color: hsl(334, 44%, 54%);
}
.color-6 {
    color: hsl(311, 16%, 60%);
}
.color-7 {
    color: hsl(21, 19%, 32%);
}
