.color-1 {
    color: hsl(76, 19%, 89%);
}
.color-2 {
    color: hsl(8, 94%, 94%);
}
.color-3 {
    color: hsl(0, 32%, 63%);
}
.color-4 {
    color: hsl(359, 42%, 80%);
}
.color-5 {
    color: hsl(112, 25%, 94%);
}
.color-6 {
    color: hsl(158, 11%, 81%);
}
.color-7 {
    color: hsl(86, 3%, 56%);
}
.color-8 {
    color: hsl(21, 82%, 87%);
}
.color-9 {
    color: hsl(0, 0%, 3%);
}
.color-10 {
    color: hsl(0, 0%, 75%);
}
