.color-1 {
    color: hsl(0, 0%, 100%);
}
.color-2 {
    color: hsl(240, 6%, 94%);
}
.color-3 {
    color: hsl(240, 9%, 96%);
}
.color-4 {
    color: hsl(356, 96%, 57%);
}
.color-5 {
    color: hsl(357, 89%, 78%);
}
.color-6 {
    color: hsl(200, 100%, 40%);
}
.color-7 {
    color: hsl(198, 100%, 40%);
}
.color-8 {
    color: hsl(204, 100%, 29%);
}
