.color-1 {
    color: hsl(0, 0%, 98%);
}
.color-2 {
    color: hsl(0, 0%, 24%);
}
.color-3 {
    color: hsl(74, 13%, 81%);
}
.color-4 {
    color: hsl(120, 18%, 57%);
}
.color-5 {
    color: hsl(0, 0%, 68%);
}
.color-6 {
    color: hsl(23, 29%, 85%);
}
.color-7 {
    color: hsl(29, 21%, 74%);
}
.color-8 {
    color: hsl(188, 24%, 20%);
}
.color-9 {
    color: hsl(202, 7%, 77%);
}
.color-10 {
    color: hsl(220, 6%, 91%);
}
.color-11 {
    color: hsl(30, 21%, 18%);
}
.color-12 {
    color: hsl(26, 9%, 15%);
}
.color-13 {
    color: hsl(173, 21%, 24%);
}
.color-14 {
    color: hsl(150, 4%, 89%);
}
.color-15 {
    color: hsl(33, 33%, 24%);
}
.color-16 {
    color: hsl(73, 43%, 49%);
}
.color-17 {
    color: hsl(0, 46%, 43%);
}
.color-18 {
    color: hsl(61, 41%, 71%);
}
.color-19 {
    color: hsl(0, 0%, 13%);
}
