.color-1 {
    color: hsl(49, 59%, 89%);
}
.color-2 {
    color: hsl(169, 32%, 41%);
}
.color-3 {
    color: hsl(345, 6%, 13%);
}
.color-4 {
    color: hsl(120, 12%, 20%);
}
.color-5 {
    color: hsl(43, 73%, 47%);
}
.color-6 {
    color: hsl(22, 85%, 46%);
}
.color-7 {
    color: hsl(77, 86%, 23%);
}
