.color-1 {
    color: hsl(105, 43%, 52%);
}
.color-2 {
    color: hsl(150, 4%, 91%);
}
.color-3 {
    color: hsl(106, 44%, 45%);
}
.color-4 {
    color: hsl(105, 59%, 69%);
}
.color-5 {
    color: hsl(150, 2%, 16%);
}
.color-6 {
    color: hsl(358, 50%, 56%);
}
.color-7 {
    color: hsl(205, 38%, 60%);
}
