.color-1 {
    color: hsl(198, 93%, 23%);
}
.color-2 {
    color: hsl(192, 3%, 65%);
}
.color-3 {
    color: hsl(180, 100%, 100%);
}
.color-4 {
    color: hsl(19, 90%, 55%);
}
.color-5 {
    color: hsl(22, 91%, 72%);
}
.color-6 {
    color: hsl(264, 7%, 14%);
}
