.color-1 {
    color: hsl(347, 54%, 15%);
}
.color-2 {
    color: hsl(348, 73%, 26%);
}
.color-3 {
    color: hsl(0, 14%, 51%);
}
.color-4 {
    color: hsl(35, 9%, 59%);
}
.color-5 {
    color: hsl(159, 17%, 81%);
}
