.color-1 {
    color: hsl(6, 25%, 33%);
}
.color-2 {
    color: hsl(230, 86%, 5%);
}
.color-3 {
    color: hsl(346, 100%, 49%);
}
.color-4 {
    color: hsl(0, 52%, 65%);
}
.color-5 {
    color: hsl(52, 91%, 87%);
}
