.color-1 {
    color: hsl(341, 100%, 50%);
}
.color-2 {
    color: hsl(341, 97%, 60%);
}
.color-3 {
    color: hsl(341, 48%, 60%);
}
.color-4 {
    color: hsl(342, 25%, 60%);
}
.color-5 {
    color: hsl(343, 9%, 62%);
}
