.color-1 {
    color: hsl(26, 13%, 20%);
}
.color-2 {
    color: hsl(0, 72%, 65%);
}
.color-3 {
    color: hsl(0, 68%, 69%);
}
.color-4 {
    color: hsl(0, 62%, 74%);
}
.color-5 {
    color: hsl(24, 15%, 54%);
}
