.color-1 {
    color: hsl(360, 93%, 52%);
}
.color-2 {
    color: hsl(1, 69%, 56%);
}
.color-3 {
    color: hsl(3, 40%, 59%);
}
.color-4 {
    color: hsl(38, 6%, 63%);
}
.color-5 {
    color: hsl(171, 24%, 66%);
}
