.color-1 {
    color: hsl(343, 48%, 38%);
}
.color-2 {
    color: hsl(312, 22%, 28%);
}
.color-3 {
    color: hsl(252, 17%, 27%);
}
.color-4 {
    color: hsl(1, 37%, 46%);
}
.color-5 {
    color: hsl(5, 57%, 54%);
}
