.color-1 {
    color: hsl(353, 82%, 64%);
}
.color-2 {
    color: hsl(16, 43%, 77%);
}
.color-3 {
    color: hsl(1, 76%, 74%);
}
.color-4 {
    color: hsl(338, 44%, 54%);
}
.color-5 {
    color: hsl(342, 47%, 76%);
}
