.color-1 {
    color: hsl(345, 36%, 45%);
}
.color-2 {
    color: hsl(357, 23%, 52%);
}
.color-3 {
    color: hsl(30, 100%, 82%);
}
.color-4 {
    color: hsl(6, 100%, 71%);
}
.color-5 {
    color: hsl(40, 89%, 68%);
}
