.color-1 {
    color: hsl(344, 41%, 47%);
}
.color-2 {
    color: hsl(346, 41%, 60%);
}
.color-3 {
    color: hsl(266, 59%, 92%);
}
.color-4 {
    color: hsl(346, 57%, 82%);
}
.color-5 {
    color: hsl(349, 100%, 96%);
}
