.color-1 {
    color: hsl(5, 100%, 95%);
}
.color-2 {
    color: hsl(6, 74%, 93%);
}
.color-3 {
    color: hsl(6, 83%, 89%);
}
.color-4 {
    color: hsl(5, 85%, 87%);
}
.color-5 {
    color: hsl(5, 88%, 84%);
}
