.color-1 {
    color: hsl(4, 89%, 38%);
}
.color-2 {
    color: hsl(359, 67%, 56%);
}
.color-3 {
    color: hsl(354, 87%, 71%);
}
.color-4 {
    color: hsl(285, 8%, 91%);
}
.color-5 {
    color: hsl(39, 87%, 71%);
}
