.color-1 {
    color: hsl(0, 100%, 75%);
}
.color-2 {
    color: hsl(15, 100%, 75%);
}
.color-3 {
    color: hsl(30, 100%, 75%);
}
.color-4 {
    color: hsl(0, 21%, 39%);
}
.color-5 {
    color: hsl(0, 23%, 20%);
}
