.color-1 {
    color: hsl(0, 68%, 29%);
}
.color-2 {
    color: hsl(6, 100%, 33%);
}
.color-3 {
    color: hsl(2, 92%, 41%);
}
.color-4 {
    color: hsl(8, 90%, 49%);
}
.color-5 {
    color: hsl(22, 99%, 49%);
}
