.color-1 {
    color: hsl(348, 29%, 7%);
}
.color-2 {
    color: hsl(343, 61%, 35%);
}
.color-3 {
    color: hsl(343, 91%, 41%);
}
.color-4 {
    color: hsl(359, 73%, 50%);
}
.color-5 {
    color: hsl(343, 96%, 44%);
}
