.color-1 {
    color: hsl(0, 50%, 43%);
}
.color-2 {
    color: hsl(351, 38%, 20%);
}
.color-3 {
    color: hsl(0, 34%, 34%);
}
.color-4 {
    color: hsl(144, 15%, 57%);
}
.color-5 {
    color: hsl(59, 50%, 80%);
}
