.color-1 {
    color: hsl(5, 50%, 9%);
}
.color-2 {
    color: hsl(25, 94%, 26%);
}
.color-3 {
    color: hsl(344, 83%, 38%);
}
.color-4 {
    color: hsl(355, 59%, 49%);
}
.color-5 {
    color: hsl(32, 77%, 47%);
}
