.color-1 {
    color: hsl(349, 100%, 30%);
}
.color-2 {
    color: hsl(341, 61%, 46%);
}
.color-3 {
    color: hsl(355, 78%, 91%);
}
.color-4 {
    color: hsl(346, 57%, 67%);
}
.color-5 {
    color: hsl(341, 89%, 37%);
}
