.color-1 {
    color: hsl(354, 55%, 47%);
}
.color-2 {
    color: hsl(354, 32%, 31%);
}
.color-3 {
    color: hsl(354, 29%, 41%);
}
.color-4 {
    color: hsl(42, 43%, 51%);
}
.color-5 {
    color: hsl(41, 41%, 68%);
}
