.color-1 {
    color: hsl(17, 15%, 68%);
}
.color-2 {
    color: hsl(44, 44%, 88%);
}
.color-3 {
    color: hsl(343, 19%, 26%);
}
.color-4 {
    color: hsl(343, 96%, 43%);
}
.color-5 {
    color: hsl(343, 99%, 50%);
}
