.color-1 {
    color: hsl(5, 56%, 82%);
}
.color-2 {
    color: hsl(5, 50%, 78%);
}
.color-3 {
    color: hsl(4, 39%, 71%);
}
.color-4 {
    color: hsl(4, 32%, 66%);
}
.color-5 {
    color: hsl(4, 27%, 59%);
}
