.color-1 {
    color: hsl(0, 100%, 50%);
}
.color-2 {
    color: hsl(0, 100%, 63%);
}
.color-3 {
    color: hsl(343, 81%, 47%);
}
.color-4 {
    color: hsl(344, 83%, 38%);
}
.color-5 {
    color: hsl(326, 98%, 25%);
}
