.color-1 {
    color: hsl(165, 40%, 47%);
}
.color-2 {
    color: hsl(0, 100%, 5%);
}
.color-3 {
    color: hsl(60, 24%, 80%);
}
.color-4 {
    color: hsl(348, 56%, 42%);
}
.color-5 {
    color: hsl(343, 68%, 52%);
}
