.color-1 {
    color: hsl(0, 54%, 14%);
}
.color-2 {
    color: hsl(0, 33%, 28%);
}
.color-3 {
    color: hsl(0, 22%, 39%);
}
.color-4 {
    color: hsl(49, 81%, 80%);
}
.color-5 {
    color: hsl(30, 89%, 71%);
}
