.color-1 {
    color: hsl(344, 100%, 50%);
}
.color-2 {
    color: hsl(344, 83%, 38%);
}
.color-3 {
    color: hsl(344, 42%, 22%);
}
.color-4 {
    color: hsl(344, 43%, 29%);
}
.color-5 {
    color: hsl(20, 71%, 42%);
}
