.color-1 {
    color: hsl(0, 89%, 55%);
}
.color-2 {
    color: hsl(0, 68%, 59%);
}
.color-3 {
    color: hsl(0, 89%, 70%);
}
.color-4 {
    color: hsl(0, 100%, 78%);
}
.color-5 {
    color: hsl(0, 90%, 88%);
}
