.color-1 {
    color: hsl(69, 38%, 79%);
}
.color-2 {
    color: hsl(162, 24%, 63%);
}
.color-3 {
    color: hsl(353, 67%, 46%);
}
.color-4 {
    color: hsl(356, 41%, 27%);
}
.color-5 {
    color: hsl(0, 9%, 15%);
}
