.color-1 {
    color: hsl(334, 100%, 8%);
}
.color-2 {
    color: hsl(340, 100%, 9%);
}
.color-3 {
    color: hsl(341, 97%, 15%);
}
.color-4 {
    color: hsl(341, 96%, 27%);
}
.color-5 {
    color: hsl(341, 98%, 32%);
}
