.color-1 {
    color: hsl(357, 40%, 27%);
}
.color-2 {
    color: hsl(359, 49%, 35%);
}
.color-3 {
    color: hsl(3, 43%, 63%);
}
.color-4 {
    color: hsl(37, 24%, 76%);
}
.color-5 {
    color: hsl(22, 63%, 32%);
}
