.color-1 {
    color: hsl(88, 18%, 67%);
}
.color-2 {
    color: hsl(356, 74%, 52%);
}
.color-3 {
    color: hsl(356, 50%, 54%);
}
.color-4 {
    color: hsl(356, 41%, 64%);
}
.color-5 {
    color: hsl(88, 35%, 80%);
}
