.color-1 {
    color: hsl(24, 27%, 40%);
}
.color-2 {
    color: hsl(13, 28%, 39%);
}
.color-3 {
    color: hsl(356, 39%, 41%);
}
.color-4 {
    color: hsl(344, 83%, 38%);
}
.color-5 {
    color: hsl(359, 36%, 39%);
}
