.color-1 {
    color: hsl(33, 100%, 77%);
}
.color-2 {
    color: hsl(16, 100%, 74%);
}
.color-3 {
    color: hsl(1, 100%, 70%);
}
.color-4 {
    color: hsl(355, 100%, 65%);
}
.color-5 {
    color: hsl(346, 100%, 57%);
}
