.color-1 {
    color: hsl(48, 72%, 80%);
}
.color-2 {
    color: hsl(3, 67%, 69%);
}
.color-3 {
    color: hsl(4, 86%, 77%);
}
.color-4 {
    color: hsl(355, 56%, 82%);
}
.color-5 {
    color: hsl(43, 63%, 88%);
}
