.color-1 {
    color: hsl(54, 88%, 68%);
}
.color-2 {
    color: hsl(30, 88%, 68%);
}
.color-3 {
    color: hsl(0, 80%, 65%);
}
.color-4 {
    color: hsl(0, 9%, 37%);
}
.color-5 {
    color: hsl(0, 10%, 46%);
}
