.color-1 {
    color: hsl(188, 15%, 70%);
}
.color-2 {
    color: hsl(27, 11%, 57%);
}
.color-3 {
    color: hsl(0, 8%, 47%);
}
.color-4 {
    color: hsl(341, 18%, 36%);
}
.color-5 {
    color: hsl(340, 24%, 22%);
}
