.color-1 {
    color: hsl(2, 71%, 55%);
}
.color-2 {
    color: hsl(2, 73%, 53%);
}
.color-3 {
    color: hsl(6, 99%, 30%);
}
.color-4 {
    color: hsl(72, 71%, 1%);
}
.color-5 {
    color: hsl(4, 87%, 41%);
}
