.color-1 {
    color: hsl(344, 83%, 38%);
}
.color-2 {
    color: hsl(344, 60%, 29%);
}
.color-3 {
    color: hsl(344, 29%, 23%);
}
.color-4 {
    color: hsl(190, 3%, 35%);
}
.color-5 {
    color: hsl(185, 6%, 42%);
}
