.color-1 {
    color: hsl(38, 86%, 56%);
}
.color-2 {
    color: hsl(45, 76%, 75%);
}
.color-3 {
    color: hsl(351, 78%, 42%);
}
.color-4 {
    color: hsl(0, 100%, 28%);
}
.color-5 {
    color: hsl(0, 33%, 14%);
}
