.color-1 {
    color: hsl(16, 75%, 87%);
}
.color-2 {
    color: hsl(174, 65%, 85%);
}
.color-3 {
    color: hsl(5, 85%, 78%);
}
.color-4 {
    color: hsl(354, 100%, 75%);
}
.color-5 {
    color: hsl(348, 100%, 69%);
}
