.color-1 {
    color: hsl(359, 74%, 57%);
}
.color-2 {
    color: hsl(345, 46%, 38%);
}
.color-3 {
    color: hsl(345, 10%, 16%);
}
.color-4 {
    color: hsl(347, 12%, 29%);
}
.color-5 {
    color: hsl(48, 41%, 62%);
}
