.color-1 {
    color: hsl(72, 2%, 59%);
}
.color-2 {
    color: hsl(86, 3%, 43%);
}
.color-3 {
    color: hsl(70, 5%, 22%);
}
.color-4 {
    color: hsl(38, 49%, 30%);
}
.color-5 {
    color: hsl(30, 50%, 16%);
}
