.color-1 {
    color: hsl(195, 31%, 32%);
}
.color-2 {
    color: hsl(210, 8%, 26%);
}
.color-3 {
    color: hsl(69, 10%, 14%);
}
.color-4 {
    color: hsl(19, 43%, 35%);
}
.color-5 {
    color: hsl(55, 82%, 72%);
}
