.color-1 {
    color: hsl(192, 5%, 59%);
}
.color-2 {
    color: hsl(353, 25%, 20%);
}
.color-3 {
    color: hsl(34, 39%, 34%);
}
.color-4 {
    color: hsl(51, 42%, 47%);
}
.color-5 {
    color: hsl(218, 38%, 61%);
}
