.color-1 {
    color: hsl(50, 40%, 69%);
}
.color-2 {
    color: hsl(42, 35%, 43%);
}
.color-3 {
    color: hsl(6, 53%, 33%);
}
.color-4 {
    color: hsl(208, 25%, 10%);
}
.color-5 {
    color: hsl(178, 29%, 22%);
}
