.color-1 {
    color: hsl(0, 100%, 12%);
}
.color-2 {
    color: hsl(139, 10%, 31%);
}
.color-3 {
    color: hsl(32, 11%, 27%);
}
.color-4 {
    color: hsl(26, 14%, 55%);
}
.color-5 {
    color: hsl(9, 9%, 73%);
}
