.color-1 {
    color: hsl(54, 17%, 24%);
}
.color-2 {
    color: hsl(266, 42%, 49%);
}
.color-3 {
    color: hsl(53, 100%, 90%);
}
.color-4 {
    color: hsl(262, 100%, 90%);
}
.color-5 {
    color: hsl(54, 100%, 94%);
}
.color-6 {
    color: hsl(4, 100%, 83%);
}
