.color-1 {
    color: hsl(91, 45%, 36%);
}
.color-2 {
    color: hsl(70, 78%, 38%);
}
.color-3 {
    color: hsl(58, 78%, 45%);
}
.color-4 {
    color: hsl(56, 92%, 57%);
}
.color-5 {
    color: hsl(52, 91%, 78%);
}
