.color-1 {
    color: hsl(55, 50%, 44%);
}
.color-2 {
    color: hsl(249, 21%, 12%);
}
.color-3 {
    color: hsl(251, 27%, 92%);
}
.color-4 {
    color: hsl(214, 52%, 65%);
}
.color-5 {
    color: hsl(223, 35%, 25%);
}
