.color-1 {
    color: hsl(34, 49%, 75%);
}
.color-2 {
    color: hsl(43, 12%, 47%);
}
.color-3 {
    color: hsl(198, 17%, 39%);
}
.color-4 {
    color: hsl(231, 14%, 19%);
}
.color-5 {
    color: hsl(0, 18%, 16%);
}
