.color-1 {
    color: hsl(218, 20%, 51%);
}
.color-2 {
    color: hsl(330, 4%, 10%);
}
.color-3 {
    color: hsl(42, 64%, 75%);
}
.color-4 {
    color: hsl(83, 17%, 58%);
}
.color-5 {
    color: hsl(182, 20%, 34%);
}
