.color-1 {
    color: hsl(206, 74%, 18%);
}
.color-2 {
    color: hsl(208, 79%, 27%);
}
.color-3 {
    color: hsl(210, 84%, 35%);
}
.color-4 {
    color: hsl(208, 87%, 44%);
}
.color-5 {
    color: hsl(204, 95%, 54%);
}
.color-6 {
    color: hsl(168, 53%, 36%);
}
.color-7 {
    color: hsl(152, 55%, 32%);
}
.color-8 {
    color: hsl(158, 53%, 22%);
}
