.color-1 {
    color: hsl(128, 53%, 76%);
}
.color-2 {
    color: hsl(129, 60%, 93%);
}
.color-3 {
    color: hsl(357, 98%, 49%);
}
.color-4 {
    color: hsl(342, 90%, 88%);
}
.color-5 {
    color: hsl(38, 64%, 65%);
}
