.color-1 {
    color: hsl(0, -2147483648%, 100%);
}
.color-2 {
    color: hsl(353, 97%, 85%);
}
.color-3 {
    color: hsl(18, 69%, 37%);
}
.color-4 {
    color: hsl(3, 77%, 46%);
}
.color-5 {
    color: hsl(0, -2147483648%, 0%);
}
