.color-1 {
    color: hsl(62, 34%, 70%);
}
.color-2 {
    color: hsl(62, 16%, 35%);
}
.color-3 {
    color: hsl(147, 36%, 57%);
}
.color-4 {
    color: hsl(62, 38%, 82%);
}
.color-5 {
    color: hsl(348, 94%, 70%);
}
