.color-1 {
    color: hsl(43, 68%, 61%);
}
.color-2 {
    color: hsl(43, 76%, 85%);
}
.color-3 {
    color: hsl(40, 43%, 99%);
}
.color-4 {
    color: hsl(248, 95%, 16%);
}
.color-5 {
    color: hsl(357, 96%, 43%);
}
