.color-1 {
    color: hsl(11, 72%, 6%);
}
.color-2 {
    color: hsl(353, 96%, 51%);
}
.color-3 {
    color: hsl(0, 43%, 99%);
}
.color-4 {
    color: hsl(0, 0%, 1%);
}
.color-5 {
    color: hsl(0, 100%, 99%);
}
