.color-1 {
    color: hsl(0, 8%, 58%);
}
.color-2 {
    color: hsl(0, 0%, 93%);
}
.color-3 {
    color: hsl(173, 11%, 56%);
}
.color-4 {
    color: hsl(125, 48%, 90%);
}
.color-5 {
    color: hsl(91, 18%, 32%);
}
