.color-1 {
    color: hsl(354, 19%, 90%);
}
.color-2 {
    color: hsl(64, 11%, 29%);
}
.color-3 {
    color: hsl(36, 70%, 58%);
}
.color-4 {
    color: hsl(193, 56%, 47%);
}
.color-5 {
    color: hsl(351, 68%, 53%);
}
