.color-1 {
    color: hsl(136, 16%, 41%);
}
.color-2 {
    color: hsl(78, 100%, 90%);
}
.color-3 {
    color: hsl(77, 40%, 48%);
}
.color-4 {
    color: hsl(77, 58%, 35%);
}
.color-5 {
    color: hsl(103, 6%, 25%);
}
