.color-1 {
    color: hsl(44, 83%, 58%);
}
.color-2 {
    color: hsl(35, 23%, 16%);
}
.color-3 {
    color: hsl(35, 30%, 50%);
}
.color-4 {
    color: hsl(40, 7%, 92%);
}
.color-5 {
    color: hsl(40, 2%, 26%);
}
