.color-1 {
    color: hsl(97, 14%, 54%);
}
.color-2 {
    color: hsl(98, 82%, 72%);
}
.color-3 {
    color: hsl(99, 46%, 93%);
}
.color-4 {
    color: hsl(98, 16%, 30%);
}
.color-5 {
    color: hsl(98, 23%, 16%);
}
