.color-1 {
    color: hsl(21, 18%, 85%);
}
.color-2 {
    color: hsl(58, 34%, 48%);
}
.color-3 {
    color: hsl(236, 11%, 52%);
}
.color-4 {
    color: hsl(183, 32%, 57%);
}
.color-5 {
    color: hsl(9, 47%, 46%);
}
