.color-1 {
    color: hsl(351, 91%, 35%);
}
.color-2 {
    color: hsl(5, 78%, 47%);
}
.color-3 {
    color: hsl(14, 90%, 56%);
}
.color-4 {
    color: hsl(64, 84%, 43%);
}
.color-5 {
    color: hsl(60, 97%, 59%);
}
