.color-1 {
    color: hsl(3, 74%, 45%);
}
.color-2 {
    color: hsl(360, 66%, 62%);
}
.color-3 {
    color: hsl(26, 43%, 64%);
}
.color-4 {
    color: hsl(23, 67%, 53%);
}
.color-5 {
    color: hsl(184, 13%, 53%);
}
