.color-1 {
    color: hsl(356, 91%, 42%);
}
.color-2 {
    color: hsl(235, 28%, 37%);
}
.color-3 {
    color: hsl(198, 73%, 37%);
}
.color-4 {
    color: hsl(7, 56%, 62%);
}
.color-5 {
    color: hsl(36, 38%, 39%);
}
