.color-1 {
    color: hsl(357, 80%, 35%);
}
.color-2 {
    color: hsl(3, 51%, 47%);
}
.color-3 {
    color: hsl(33, 31%, 49%);
}
.color-4 {
    color: hsl(82, 16%, 34%);
}
.color-5 {
    color: hsl(174, 71%, 5%);
}
