.color-1 {
    color: hsl(59, 99%, 57%);
}
.color-2 {
    color: hsl(6, 84%, 45%);
}
.color-3 {
    color: hsl(210, 82%, 4%);
}
.color-4 {
    color: hsl(82, 73%, 41%);
}
.color-5 {
    color: hsl(204, 60%, 47%);
}
