.color-1 {
    color: hsl(2, 81%, 56%);
}
.color-2 {
    color: hsl(25, 82%, 55%);
}
.color-3 {
    color: hsl(341, 49%, 48%);
}
.color-4 {
    color: hsl(342, 62%, 79%);
}
.color-5 {
    color: hsl(24, 100%, 8%);
}
