.color-1 {
    color: hsl(2, 81%, 53%);
}
.color-2 {
    color: hsl(58, 78%, 65%);
}
.color-3 {
    color: hsl(201, 30%, 46%);
}
.color-4 {
    color: hsl(150, 7%, 95%);
}
.color-5 {
    color: hsl(75, 31%, 53%);
}
