.color-1 {
    color: hsl(47, 94%, 48%);
}
.color-2 {
    color: hsl(31, 98%, 57%);
}
.color-3 {
    color: hsl(359, 82%, 43%);
}
.color-4 {
    color: hsl(340, 64%, 28%);
}
.color-5 {
    color: hsl(189, 29%, 28%);
}
