.darkcyan {
    color: hsl(180, 100%, 27%);
}
.olive {
    color: hsl(60, 100%, 25%);
}
.olivedrab {
    color: hsl(80, 60%, 35%);
}
.yellowgreen {
    color: hsl(80, 61%, 50%);
}
.darkolivegreen {
    color: hsl(82, 39%, 30%);
}
.greenyellow {
    color: hsl(84, 100%, 59%);
}
.chartreuse {
    color: hsl(90, 100%, 50%);
}
.lawngreen {
    color: hsl(90, 100%, 49%);
}
.Dark Green {
    color: hsl(120, 100%, 20%);
}
.Green {
    color: hsl(120, 100%, 25%);
}
.Forest Green {
    color: hsl(120, 61%, 34%);
}
.Lime {
    color: hsl(120, 100%, 50%);
}
.Lime Green {
    color: hsl(120, 61%, 50%);
}
.Light Green {
    color: hsl(120, 73%, 75%);
}
.Pale Green {
    color: hsl(120, 93%, 79%);
}
.Dark Sea Green {
    color: hsl(120, 25%, 65%);
}
.Sea Green {
    color: hsl(146, 50%, 36%);
}
.Medium Sea Green {
    color: hsl(147, 50%, 47%);
}
.Spring Green {
    color: hsl(150, 100%, 50%);
}
.Medium Spring Green {
    color: hsl(157, 100%, 49%);
}
.Medium Aqua Marine {
    color: hsl(160, 51%, 60%);
}
.Light Sea Green {
    color: hsl(177, 70%, 41%);
}
.Teal {
    color: hsl(180, 100%, 25%);
}
