.mediumvioletred {
    color: hsl(322, 81%, 43%);
}
.deeppink {
    color: hsl(328, 100%, 54%);
}
.hotpink {
    color: hsl(330, 100%, 71%);
}
.palevioletred {
    color: hsl(340, 60%, 65%);
}
.pink {
    color: hsl(350, 100%, 88%);
}
.lightpink {
    color: hsl(351, 100%, 86%);
}
