.Maroon {
    color: hsl(0, 100%, 25%);
}
.Brown {
    color: hsl(0, 59%, 41%);
}
.rosybrown {
    color: hsl(0, 25%, 65%);
}
.sienna {
    color: hsl(19, 56%, 40%);
}
.saddlebrown {
    color: hsl(25, 76%, 31%);
}
.chocolate {
    color: hsl(25, 75%, 47%);
}
.sandybrown {
    color: hsl(28, 87%, 67%);
}
.peru {
    color: hsl(30, 59%, 53%);
}
.bisque {
    color: hsl(33, 100%, 88%);
}
.burlywood {
    color: hsl(34, 57%, 70%);
}
.tan {
    color: hsl(34, 44%, 69%);
}
.navajowhite {
    color: hsl(36, 100%, 84%);
}
.blanchealmond {
    color: hsl(36, 100%, 90%);
}
.wheat {
    color: hsl(39, 77%, 83%);
}
.darkgoldenrod {
    color: hsl(43, 89%, 38%);
}
.goldenrod {
    color: hsl(43, 74%, 49%);
}
.cornsilk {
    color: hsl(48, 100%, 93%);
}
