.deepskyblue {
    color: hsl(195, 100%, 50%);
}
.blue {
    color: hsl(240, 100%, 50%);
}
.cyan {
    color: hsl(180, 100%, 50%);
}
.aquamarine {
    color: hsl(160, 100%, 75%);
}
.turquoise {
    color: hsl(174, 72%, 56%);
}
.mediumturquoise {
    color: hsl(178, 60%, 55%);
}
.aqua {
    color: hsl(180, 100%, 50%);
}
.paleturquoise {
    color: hsl(180, 65%, 81%);
}
.lightcyan {
    color: hsl(180, 100%, 94%);
}
.darkturquoise {
    color: hsl(181, 100%, 41%);
}
.cadetblue {
    color: hsl(182, 25%, 50%);
}
.powderblue {
    color: hsl(187, 52%, 80%);
}
.lightblue {
    color: hsl(195, 53%, 79%);
}
.skyblue {
    color: hsl(197, 71%, 73%);
}
.lightskyblue {
    color: hsl(203, 92%, 75%);
}
.steelblue {
    color: hsl(207, 44%, 49%);
}
.dodgerblue {
    color: hsl(210, 100%, 56%);
}
.lightsteelblue {
    color: hsl(214, 41%, 78%);
}
.cornflowerblue {
    color: hsl(219, 79%, 66%);
}
.royalblue {
    color: hsl(225, 73%, 57%);
}
.midnightblue {
    color: hsl(240, 64%, 27%);
}
.navy {
    color: hsl(240, 100%, 25%);
}
.darkblue {
    color: hsl(240, 100%, 27%);
}
.mediiumblue {
    color: hsl(240, 100%, 40%);
}
.mediumslateblue {
    color: hsl(249, 80%, 67%);
}
