.magenta {
    color: hsl(300, 100%, 50%);
}
.lavender {
    color: hsl(240, 67%, 94%);
}
.darkslateblue {
    color: hsl(248, 39%, 39%);
}
.slateblue {
    color: hsl(248, 53%, 58%);
}
.mediumslateblue {
    color: hsl(249, 80%, 67%);
}
.mediumpurple {
    color: hsl(260, 60%, 65%);
}
.blueviolet {
    color: hsl(271, 76%, 53%);
}
.indigo {
    color: hsl(275, 100%, 25%);
}
.darkorchid {
    color: hsl(280, 61%, 50%);
}
.darkviolet {
    color: hsl(282, 100%, 41%);
}
.mediumorchid {
    color: hsl(288, 59%, 58%);
}
.purple {
    color: hsl(300, 100%, 25%);
}
.darkmagenta {
    color: hsl(300, 100%, 27%);
}
.fuchsia {
    color: hsl(300, 100%, 50%);
}
.violet {
    color: hsl(300, 76%, 72%);
}
.plum {
    color: hsl(300, 47%, 75%);
}
.thistle {
    color: hsl(300, 24%, 80%);
}
.orchid {
    color: hsl(302, 59%, 65%);
}
