.tomato {
    color: hsl(9, 100%, 64%);
}
.orangered {
    color: hsl(16, 100%, 50%);
}
.coral {
    color: hsl(16, 100%, 66%);
}
.lightsalmon {
    color: hsl(17, 100%, 74%);
}
.darkorange {
    color: hsl(33, 100%, 50%);
}
.orange {
    color: hsl(39, 100%, 50%);
}
