.black {
    color: hsl(0, -2147483648%, 0%);
}
.dimgray {
    color: hsl(0, 0%, 41%);
}
.gray {
    color: hsl(0, 0%, 50%);
}
.darkgray {
    color: hsl(0, 0%, 66%);
}
.silver {
    color: hsl(0, 0%, 75%);
}
.lightgrey {
    color: hsl(0, 0%, 83%);
}
.gainsboro {
    color: hsl(0, 0%, 86%);
}
.darkslategray {
    color: hsl(180, 25%, 25%);
}
.slategray {
    color: hsl(210, 13%, 50%);
}
.lightslategray {
    color: hsl(210, 14%, 53%);
}
