.darkred {
    color: hsl(0, 100%, 27%);
}
.firebrick {
    color: hsl(0, 68%, 42%);
}
.red {
    color: hsl(0, 100%, 50%);
}
.indianred {
    color: hsl(0, 53%, 58%);
}
.lightcoral {
    color: hsl(0, 79%, 72%);
}
.salmon {
    color: hsl(6, 93%, 71%);
}
.darksalmon {
    color: hsl(15, 72%, 70%);
}
.lightsalmon {
    color: hsl(17, 100%, 74%);
}
.crimson {
    color: hsl(348, 83%, 47%);
}
