.peachpuff {
    color: hsl(28, 100%, 86%);
}
.papayawhip {
    color: hsl(37, 100%, 92%);
}
.moccasin {
    color: hsl(38, 100%, 85%);
}
.goldenrod {
    color: hsl(43, 74%, 49%);
}
.color-5 {
    color: hsl(40, 100%, 65%);
}
.gold {
    color: hsl(51, 100%, 50%);
}
.khaki {
    color: hsl(54, 77%, 75%);
}
.lemonchiffon {
    color: hsl(54, 100%, 90%);
}
.palegodenrod {
    color: hsl(55, 67%, 80%);
}
.darkkhaki {
    color: hsl(56, 38%, 58%);
}
.yellow {
    color: hsl(60, 100%, 50%);
}
.lightgoldenyellow {
    color: hsl(60, 80%, 90%);
}
.lightyellow {
    color: hsl(60, 100%, 94%);
}
