.whitesmoke {
    color: hsl(0, 0%, 96%);
}
.white {
    color: hsl(0, -2147483648%, 100%);
}
.snow {
    color: hsl(0, 100%, 99%);
}
.mistyrose {
    color: hsl(6, 100%, 94%);
}
.seashell {
    color: hsl(25, 100%, 97%);
}
.linen {
    color: hsl(30, 67%, 94%);
}
.antiquewhite {
    color: hsl(34, 78%, 91%);
}
.oldlace {
    color: hsl(39, 85%, 95%);
}
.floralwhite {
    color: hsl(40, 100%, 97%);
}
.beige {
    color: hsl(60, 56%, 91%);
}
.ivory {
    color: hsl(60, 100%, 97%);
}
.honeydew {
    color: hsl(120, 100%, 97%);
}
.mintcream {
    color: hsl(150, 100%, 98%);
}
.azure {
    color: hsl(180, 100%, 97%);
}
.aliceblue {
    color: hsl(208, 100%, 97%);
}
.ghostwhite {
    color: hsl(240, 100%, 99%);
}
.lavenderblush {
    color: hsl(340, 100%, 97%);
}
