.color-1 {
    color: hsl(325, 100%, 50%);
}
.color-2 {
    color: hsl(279, 92%, 52%);
}
.color-3 {
    color: hsl(179, 100%, 34%);
}
.color-4 {
    color: hsl(88, 48%, 51%);
}
.color-5 {
    color: hsl(24, 74%, 37%);
}
.color-6 {
    color: hsl(327, 75%, 68%);
}
.color-7 {
    color: hsl(31, 89%, 58%);
}
.color-8 {
    color: hsl(196, 100%, 43%);
}
.color-9 {
    color: hsl(357, 92%, 48%);
}
.color-10 {
    color: hsl(138, 66%, 36%);
}
