.color-1 {
    color: hsl(138, 33%, 86%);
}
.color-2 {
    color: hsl(120, 31%, 89%);
}
.color-3 {
    color: hsl(65, 91%, 92%);
}
.color-4 {
    color: hsl(62, 68%, 89%);
}
.color-5 {
    color: hsl(48, 75%, 80%);
}
