.color-1 {
    color: hsl(71, 37%, 86%);
}
.color-2 {
    color: hsl(126, 26%, 79%);
}
.color-3 {
    color: hsl(28, 35%, 73%);
}
.color-4 {
    color: hsl(7, 73%, 75%);
}
.color-5 {
    color: hsl(3, 98%, 75%);
}
