.color-1 {
    color: hsl(42, 100%, 98%);
}
.color-2 {
    color: hsl(56, 69%, 91%);
}
.color-3 {
    color: hsl(78, 43%, 86%);
}
.color-4 {
    color: hsl(189, 25%, 85%);
}
.color-5 {
    color: hsl(193, 27%, 74%);
}
