.color-1 {
    color: hsl(34, 39%, 17%);
}
.color-2 {
    color: hsl(13, 74%, 48%);
}
.color-3 {
    color: hsl(34, 25%, 53%);
}
.color-4 {
    color: hsl(38, 41%, 72%);
}
.color-5 {
    color: hsl(44, 100%, 89%);
}
