.color-1 {
    color: hsl(43, 93%, 84%);
}
.color-2 {
    color: hsl(37, 58%, 71%);
}
.color-3 {
    color: hsl(34, 21%, 55%);
}
.color-4 {
    color: hsl(23, 9%, 48%);
}
.color-5 {
    color: hsl(240, 1%, 39%);
}
