.color-1 {
    color: hsl(197, 73%, 23%);
}
.color-2 {
    color: hsl(197, 55%, 41%);
}
.color-3 {
    color: hsl(197, 43%, 52%);
}
.color-4 {
    color: hsl(196, 39%, 57%);
}
.color-5 {
    color: hsl(197, 48%, 72%);
}
